@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body, .flex__container{
    height: 100%;
}
body{
    font-family: 'Montserrat';
}
.flex__container{
    display: flex;
    flex-direction: column;
}
.flex__content{
    overflow-y: scroll;
}

.flex__header > h1{
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
}
.caffeine-rating__label{
    width: 20%;
}
.caffeine-rating__rate{
    display: inline-block;
    width: 75%;
    text-align: right;
}