@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body, .flex__container{
    height: 100%;
}
body{
    font-family: 'Montserrat';
    background-color: #402218;
}
.flex__container{
    display: flex;
    flex-direction: column;
}
.flex__content{
    overflow-y: scroll;
}

.flex__header > h1{
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
    color: #f9cdb5;
    margin-bottom: 2%;
}
.caffeine-rating__label{
    width: 20%;
}
.caffeine-rating__rate{
    display: inline-block;
    width: 75%;
    text-align: right;
}
.form__email:invalid:focus{
    border-color: #ff0000;
    border-width: 2px;
}

.panel{
    background-color: #D7B19D;
    color:#402218;
    font-size: 16px;
    margin-left: 15%;
    margin-right: 15%;
}
.radio{
    accent-color: #c28a1a;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #865439;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #865439;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #865439;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #865439;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #865439;
    border-radius: 1px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #865439;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #865439;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #865439;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #865439;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #865439;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #865439;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #865439;
}
input[type=range]:focus::-ms-fill-upper {
    background: #865439;
}
input[type=range]{
    background-color: transparent;
}


@media (max-width: 600px) {
    .panel{
        margin-left: 3%;
        margin-right: 3%;
    }
    .flex__header > h1{
        font-size: 35px;
    }
}